$body-text: rgba(182,39,119,1);
$body-bg: rgba(182,39,119,1);
$body-bg-40: rgba(182,39,119,.4);
$white: #ffffff;

body {
    color: $body-text;
    // background: #baeaff;
    background-image: linear-gradient(134deg, #FEE8B7 0%, #E87D7D 89%);
}

h1 {
    font-family: 'Playfair Display', serif;
}

.btn__soon:disabled {
    border-radius: 50px;
    background-color: $body-bg;
    border-color: $body-bg;
    color: $white;
}

.btn__soon:hover {
    box-shadow: -5px 3px 30px 0 rgba(182,39,119,0.6);
}

.home__page--main {
    height: 90vh;
    max-height: calc(100vh - 80px);
}

.page__link {
    color: $white;
    background: $body-bg-40;
    padding: 4px 8px;
    border-radius: 20px;

    &:active, &:hover, &:visited {
        color: $white;
        text-decoration-line: underline;
        text-decoration-style: dashed;
    }
}

.footer__icn img {
    width: 24px;
    height: 24px;
}
